# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Build output
dist/
build/
.next/
out/
.vite/
coverage/

# Environment variables
goorm-server/.env
.env.local
.env.*.local

# IDE / Editor
.vscode/
../../goorm-eagles/.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.gz

# Cache
.cache/
.parcel-cache/
*.tsbuildinfo

# Misc
*.local
